YANDEX_MUSIC_TOKEN=

APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY_PATH=
APPLE_STOREFRONT=ru
APPLE_MUSIC_USER_TOKEN=
APPLE_MUSIC_USER_TOKEN_PATH=.apple_music_user_token

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8766/callback
SPOTIFY_TOKEN_PATH=.spotify_token.json
SPOTIFY_MARKET=US

YOUTUBE_MUSIC_CLIENT_ID=
YOUTUBE_MUSIC_CLIENT_SECRET=
YOUTUBE_MUSIC_OAUTH_PATH=oauth.json
YOUTUBE_MUSIC_USER=
YOUTUBE_MUSIC_LANGUAGE=en
YOUTUBE_MUSIC_LOCATION=US
